@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: white;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 0px 0px rgba(0, 0, 0, 0.75);
}

#counter {
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
}

#end {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#endcredit {
    background-image: url("endgame.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#endcredit button {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#end button {
    font-family: inherit;
    font-size: inherit;
}

#start {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
}

#start button {
    font-family: inherit;
    font-size: inherit;
}

#wincredit {
    background-image: url("winbg.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#win {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#win button {
    font-family: inherit;
    font-size: inherit;
}

#wincredit button {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#title {
    background-image: url("bg.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#title button {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}